/* General body styling */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* Game canvas styling */
#gameCanvas {
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Controls container */
.controls {
  display: none; /* Hidden by default */
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  gap: 70px;
}

/* Buttons for mobile controls */
button {
  background-color: #0095dd;
  color: white;
  border: none;
  border-radius: 5px;
 width: 100px;
 height: 100px;
 margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(27, 27, 27, 0.3);
  transition: background-color 0.3s ease;
}

button:active {
  background-color: #006bb3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #007acc;
}

body {
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Show controls only on smaller screens */
@media (max-width: 1024px) {
  .controls {
    display: flex; /* Make visible on small screens */
  }
}
